body {
	background-color: #1D1F21;
}

@grid-container-margin-top: 50px;
@grid-container-background: #C5C8C6;

@grid-container-width: 200px;

@grid-spacing: 10px;

@grid-cell-border-radius: 5px;

@rows: 3;

@grid-cell-width: ((@grid-container-width - @grid-spacing) / @rows) - @grid-spacing;


.grid-container {
  margin-top: @grid-container-margin-top;
  position: relative;
  padding: @grid-spacing;

  background: @grid-container-background;
  border-radius: @grid-cell-border-radius * 2;
  width: @grid-container-width;
  height: @grid-container-width;
}

.grid-message-cover {
	position: absolute;
	width: @grid-container-width - @grid-spacing - @grid-spacing;
	height: @grid-container-width - @grid-spacing - @grid-spacing;
	border-radius: @grid-cell-border-radius;

	background-color: #1D1F21;
	opacity: .5;
}

.grid-message {
	position: absolute;
	width: @grid-container-width - @grid-spacing - @grid-spacing;
	height: @grid-container-width - @grid-spacing - @grid-spacing;
	border-radius: @grid-cell-border-radius;

	text-align: center;
	vertical-align: middle;
	line-height: @grid-container-width - @grid-spacing - @grid-spacing;

	text-transform: uppercase;
	font-weight: bold;
	font-size: 180px;
}

.grid-row {
  margin-bottom: @grid-spacing;

  &:last-child {
    margin-bottom: 0;
  }

  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

.grid-cell {
  width: @grid-cell-width;
  height: @grid-cell-width;
  margin-right: @grid-spacing;
  float: left;

  .grid-cell-message {
  	width: 100%;
  	height: 100%;
  	text-align: center;
		vertical-align: middle;
		line-height: @grid-cell-width;
		font-size: 45px;
  }

  border-radius: @grid-cell-border-radius;

  &:last-child {
    margin-right: 0;
  }

  background: #B294BB;

  .won {
  	background: #1D1F21;
  }
}

/*

.tile-container {
  position: absolute;
  z-index: 2;
}*/


/*
.tile {
  &, .tile-inner {
    width: ceil(@tile-size);
    height: ceil(@tile-size);
    line-height: @tile-size + 10px;
  }

  // Build position classes
  @for @x from 1 through @grid-row-cells {
    @for @y from 1 through @grid-row-cells {
      &.tile-position-#{@x}-#{@y} {
        @xPos: floor((@tile-size + @grid-spacing) * (@x - 1));
        @yPos: floor((@tile-size + @grid-spacing) * (@y - 1));
        @include transform(translate(@xPos, @yPos));
      }
    }
  }
}*/

.header {
	margin-bottom: @grid-container-margin-top;

	font-family: 'Varela Round', sans-serif;

	color: #C5C8C6;

	.title {
		font-size: 58px;
	}

	.teal {
		color: #8ABEB7;
	}
	.orange {
		color: #DE935F;
	}
	.yellow {
		color: #B5BD68;
	}
}


// Ace editor

#aceEditor {

	-moz-box-shadow:    0px 0px 6px 6px #C5C8C6;
  -webkit-box-shadow: 0px 0px 6px 6px #C5C8C6;
  box-shadow:         0px 0px 6px 6px #C5C8C6;

	.ace-tomorrow-night .ace_gutter {
		background: #1D1F21 !important;
	}

}

// colors
// purple: #B294BB
// teal: #8ABEB7
// orange: #DE935F
// grey: #C5C8C6;
// yellow: #B5BD68;
// black: #1D1F21
// darkgrey: #25282c

.btn-default {
	background-color: #C5C8C6;
}

.btn-submit-script {
	float: right;
	margin-right: 12px;
}



.scripts-section {
	margin-top: 25px;
}

.btn-activate-script {

	&.active {
		background-color: #B294BB;
		&:hover {
			background-color: darken(#B294BB, 10%);
		}
	}
	&.unactive {
		background-color: #DE935F;
		&:hover {
			background-color: darken(#DE935F, 10%);
		}
	}
}

.info-section {
	color: #C5C8C6;

	a {
		color: #8ABEB7;

		&:hover {
			color: darken(#8ABEB7, 15%);
		}
	}
}
