
@grid-container-margin-top: 50px;
@grid-container-background: darkgrey;

@grid-container-width: 500px;

@grid-spacing: 15px;

@grid-cell-border-radius: 5px;

@rows: 3;

@grid-cell-width: floor(((@grid-container-width - @grid-spacing) / @rows) - @grid-spacing);


.grid-container {
  margin-top: @grid-container-margin-top;
  position: relative;
  padding: @grid-spacing;

  background: @grid-container-background;
  border-radius: @grid-cell-border-radius * 2;
  width: @grid-container-width;
  height: @grid-container-width;
}

.grid-message {
	position: absolute;
	width: @grid-container-width - @grid-spacing - @grid-spacing;
	height: @grid-container-width - @grid-spacing - @grid-spacing;
	background-color: yellow;
	opacity: .5;
	font-size: 300px;
}

.grid-row {
  margin-bottom: @grid-spacing;

  &:last-child {
    margin-bottom: 0;
  }

  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

.grid-cell {
  width: @grid-cell-width;
  height: @grid-cell-width;
  margin-right: @grid-spacing;
  float: left;

  border-radius: @grid-cell-border-radius;

  &:last-child {
    margin-right: 0;
  }

  background: green;

  .won {
  	background: yellow;
  }

  font-size: 72px;
}

/*

.tile-container {
  position: absolute;
  z-index: 2;
}*/


/*
.tile {
  &, .tile-inner {
    width: ceil(@tile-size);
    height: ceil(@tile-size);
    line-height: @tile-size + 10px;
  }

  // Build position classes
  @for @x from 1 through @grid-row-cells {
    @for @y from 1 through @grid-row-cells {
      &.tile-position-#{@x}-#{@y} {
        @xPos: floor((@tile-size + @grid-spacing) * (@x - 1));
        @yPos: floor((@tile-size + @grid-spacing) * (@y - 1));
        @include transform(translate(@xPos, @yPos));
      }
    }
  }
}*/
